header {
  position: fixed;
  inset: 0 0 auto 0;
  padding-bottom: var(--spacing-4);
  box-shadow: 0 4px 4px var(--color-shadow);
  background-color: var(--color-background);
  z-index: 1;
}

h1 {
  font: var(--font-xl);
  font-weight: var(--font-bold);
  text-align: center;
  margin-block: var(--spacing-3);
}

nav {
  background-color: var(--color-primary);
  padding-block: var(--spacing-4);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--spacing-4);
  font: var(--font-lg);

  a {
    color: var(--color-text-secondary);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.userInfo {
  position: absolute;
  inset: var(--spacing-2) var(--spacing-2) auto auto;
  font: var(--font-sm);

  a {
    color: var(--color-text-primary) !important;
    margin: var(--spacing-2);
    padding: var(--spacing-1) var(--spacing-2);
    border-radius: var(--spacing-1);
    border: 1px solid var(--color-border);
  }
}
