<header>
  <h1>Lubię Placki</h1>
  <span class="userInfo">
    @if (me$ | async; as me) {
    <span>Jesteś zalogowana/y jako {{ me.name }}</span>
    <a [href]="getLink('/auth/logout')">Wyloguj się</a>
    } @else {
    <a [href]="getLink('/auth/login')">Zaloguj się</a>
    }
  </span>
  <nav>
    <ul>
      @for (item of navItems; track item.name) {
      <li>
        <a
          [routerLink]="[item.href]"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          [ariaDisabled]="isDisabled(item)"
          >{{ item.name }}</a
        >
      </li>
      }
    </ul>
  </nav>
</header>
