header {
  position: fixed;
  inset: 0 0 auto 0;
  padding-bottom: var(--spacing-4);
  box-shadow: 0 4px 4px var(--color-shadow);
  background-color: var(--color-bg-default);
  z-index: 1;
}

h1 {
  font: var(--font-xl);
  font-weight: var(--font-bold);
  text-align: center;
  margin-block: var(--spacing-3);
}

nav {
  background-color: var(--color-primary);
  padding-block: var(--spacing-4);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--spacing-4);
  font: var(--font-lg);

  a {
    color: var(--color-text-secondary);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
