article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: var(--width-content);
  background-color: var(--color-background);
  overflow: hidden;
  position: relative;
  box-shadow: 4px 4px 4px var(--color-shadow);
  text-align: center;
  padding: var(--spacing-4);
}
