section {
  width: 640px;
  background-color: var(--color-bg-default);
  min-height: 420px;
  overflow: hidden;
  position: relative;
  box-shadow: 4px 4px 4px var(--color-shadow);
}

img {
  width: 100%;
  position: absolute;
  inset: 50% 0 auto 0;
  translate: 0 -50%;
  transition: scale 1s;
  mix-blend-mode: multiply;
}

section:hover img {
  scale: 1.25;
}

header {
  font: var(--font-xl);
  padding: var(--spacing-4);
  text-align: center;
  position: absolute;
  inset: auto 0 0 0;
  border-block: 2px solid var(--color-primary);
  background-color: color-mix(
    in srgb,
    var(--color-bg-default) 90%,
    transparent 10%
  );
}
