@if (recipe$ | async; as recipe) {
<article>
  <header>
    <h1>{{ recipe.title }}</h1>
    <span class="time">{{ recipe.time.value }} {{ recipe.time.unit }}</span>
  </header>
  <section class="image">
    <img
      [src]="[`http://localhost:8080/images/${recipe.imageId}`]"
      [alt]="[recipe.title]"
    />
  </section>
  <section class="ingredients">
    <h2>Składniki</h2>
    @for (ingredientsGroup of recipe.ingredientsGroups; track $index) {
    <div>
      @if (ingredientsGroup.title) {
      <h3>{{ ingredientsGroup.title }}</h3>
      }
      <ul>
        @for (ingredient of ingredientsGroup.ingredients; track $index) {
        <li>
          {{ ingredient.name }} - {{ ingredient.quantity }}
          {{ ingredient.unit }}
        </li>
        }
      </ul>
    </div>
    }
  </section>
  <section class="methods">
    <h2>Przygotowanie</h2>
    @for (methodsGroup of recipe.methodsGroups; track $index) {
    <div>
      @if (methodsGroup.title) {
      <h3>{{ methodsGroup.title }}</h3>
      }
      <ol>
        @for (method of methodsGroup.methods; track $index) {
        <li>{{ method.text }}</li>
        }
      </ol>
    </div>
    }
  </section>
</article>
}
