<article>
  <header>
    <h1>Dodaj nowy przepis</h1>
  </header>

  <form [formGroup]="newRecipeForm" (submit)="onSubmit()">
    <section>
      <input-component
        label="Tytuł"
        placeholder="Dodaj tytuł"
        formControlName="title"
        [control]="getTitle()"
      />

      <div class="time" formGroupName="time">
        <input-component
          label="Czas"
          placeholder="Określ czas"
          type="number"
          formControlName="value"
          [control]="getTimeValue()"
        />
        <input-component
          label="Jednostka czasu"
          placeholder="Określ jednostkę"
          formControlName="unit"
          [control]="getTimeUnit()"
        />
      </div>
      <input-component
        label="Zdjęcie"
        type="file"
        formControlName="image"
        [control]="getImage()"
        (change)="onFileSelected($event)"
      />
    </section>

    <section formArrayName="ingredientsGroups">
      <h2>Składniki</h2>
      <button
        type="button"
        class="btn btn-add-group"
        (click)="addIngredientsGroup()"
      >
        + Dodaj nową grupę
      </button>

      @for (ingredientsGroup of getIngredientsGroups().controls; track
      ingredientsGroup.get('_id'); let igIdx = $index) {
      <div class="group" [formGroupName]="igIdx">
        <input-component
          placeholder="Podaj tytuł"
          formControlName="title"
          [control]="getIngredientsGroupTitle(igIdx)"
        />

        <div class="items" formArrayName="ingredients">
          @for (ingredient of getIngredients(igIdx).controls; track
          ingredient.get('_id'); let iIdx = $index) {
          <div class="item item-ingredient" [formGroupName]="iIdx">
            <input-component
              placeholder="Produkt"
              formControlName="name"
              [control]="getIngredientName(igIdx, iIdx)"
            />
            <input-component
              placeholder="Ilość"
              formControlName="quantity"
              type="number"
              [control]="getIngredientQuantity(igIdx, iIdx)"
            />
            <input-component
              placeholder="Jednostka"
              formControlName="unit"
              [control]="getIngredientUnit(igIdx, iIdx)"
            />
            <button
              type="button"
              class="btn btn-remove-item"
              (click)="removeIngredient(igIdx, iIdx)"
            >
              - Usuń składnik
            </button>
          </div>
          }@if (getIngredientsError(igIdx); as error) {
          <span class="error">{{ error }}</span>
          }
        </div>

        <div class="btngr-group">
          <button
            type="button"
            class="btn"
            (click)="removeIngredientsGroup(igIdx)"
          >
            - Usuń grupę
          </button>
          <button type="button" class="btn" (click)="addIngredient(igIdx)">
            + Dodaj kolejny składnik
          </button>
        </div>
      </div>
      } @if (getIngredientsGroupsError(); as error) {
      <span class="error">{{ error }}</span>
      }
    </section>

    <section formArrayName="methodsGroups">
      <h2>Przygotowanie</h2>
      <button
        type="button"
        class="btn btn-add-group"
        (click)="addMethodsGroup()"
      >
        + Dodaj nową grupę
      </button>

      @for (methodsGroup of getMethodsGroups().controls; track
      methodsGroup.get('_id'); let mgIdx = $index) {
      <div class="group" [formGroupName]="mgIdx">
        <input-component
          placeholder="Podaj tytuł"
          formControlName="title"
          [control]="getMethodsGroupTitle(mgIdx)"
        />

        <div class="items" formArrayName="methods">
          @for (method of getMethods(mgIdx).controls; track method.get('_id');
          let mIdx = $index) {
          <div class="item item-method" [formGroupName]="mIdx">
            <input-component
              placeholder="Krok"
              formControlName="text"
              [control]="getMethodText(mgIdx, mIdx)"
            />
            <button
              type="button"
              class="btn btn-remove-item"
              (click)="removeMethod(mgIdx, mIdx)"
            >
              - Usuń krok
            </button>
          </div>
          } @if (getMethodsError(mgIdx); as error) {
          <span class="error">{{ error }}</span>
          }
        </div>

        <div class="btngr-group">
          <button type="button" class="btn" (click)="removeMethodsGroup(mgIdx)">
            - Usuń grupę
          </button>
          <button type="button" class="btn" (click)="addMethod(mgIdx)">
            + Dodaj kolejny krok
          </button>
        </div>
      </div>
      } @if (getMethodsGroupsError(); as error) {
      <span class="error">{{ error }}</span>
      }
    </section>
    <button class="btn btn-submit">Wyślij</button>
  </form>
</article>
